# Ignorar arquivos compilados
*.o
*.a
*.so

# Ignorar arquivos de log
*.log

# Ignorar diretório de dependências
node_modules/

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração do editor
.vscode/
.idea/

#configs de autenticacao do git

rafaelmartinsjaSSHGithub
rafaelmartinsjaSSHGithub.pub

